In [204]:
import pandas as pd

In [205]:
PATH_RAW_MAT = './data/raw_materials_cleaned.csv'
df_raw = pd.read_csv(PATH_RAW_MAT, index_col=0)
df_raw

,Item,Rarity,Stat,Campaign,Variation,Level,Drop rate (%),Cost,Average energy cost,Return per energy
0,Adamantium Filaments,Common,Health,Indomitus,Standard,59,75.0,6,8.000000,0.125000
1,Adamantium Filaments,Common,Health,Octarius,Standard,7,75.0,6,8.000000,0.125000
2,Adamantium Filaments,Common,Health,Indomitus,Mirror,47,83.3,6,7.202881,0.138833
3,Adamantium Filaments,Common,Health,Octarius,Elite,11,140.0,10,7.142857,0.140000
4,Adamantium Ore,Common,Armour,Indomitus,Standard,48,75.0,6,8.000000,0.125000
...,...,...,...,...,...,...,...,...,...,...
502,Writings,Uncommon,Health,Indomitus,Elite,12,117.0,10,8.547009,0.117000
503,Zeidos Ribbon,Rare,Health,Fall of Cadia,Standard,67,33.3,6,18.018018,0.055500
504,Zeidos Ribbon,Rare,Health,Indomitus,Mirror,16,40.0,6,15.000000,0.066667
505,Zeidos Ribbon,Rare,Health,Fall of Cadia,Mirror,43,40.0,6,15.000000,0.066667
506,Zeidos Ribbon,Rare,Health,Fall of Cadia,Elite,26,111.0,10,9.009009,0.111000

# Adjust refined mat

In [206]:
PATH_MAT = './data/materials.xlsx'
df_mat = pd.read_excel(PATH_MAT, engine='openpyxl')
df_mat.rename(columns={'Type':'Stat', 'Crafted':'Craftable'}, inplace=True)

df_mat

,Item,Rarity,Stat,Craftable,Item 1,Quantity 1,Item 2,Quantity 2,Item 3,Quantity 3
0,Adamantium Filaments,Common,Health,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Adamantium Ore,Common,Armour,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Armor Trim,Common,Armour,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Auspex,Common,Damage,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ballistics Data,Common,Damage,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
322,Tome of Arcane Knowledge,Legendary,Health,Yes,NaN,NaN,NaN,NaN,NaN,NaN
323,Transdimensional Sanctum,Legendary,Armour,Yes,NaN,NaN,NaN,NaN,NaN,NaN
324,Virulent Rounds,Legendary,Damage,Yes,NaN,NaN,NaN,NaN,NaN,NaN
325,Warpweave Robe,Legendary,Armour,Yes,NaN,NaN,NaN,NaN,NaN,NaN
326,Witchseeker Bolts,Legendary,Damage,Yes,NaN,NaN,NaN,NaN,NaN,NaN

In [207]:
df_mat['Craftable'].fillna(False, inplace=True)
df_mat.loc[df_mat['Craftable'] == 'Yes', 'Craftable'] = True

In [208]:
df_mat

,Item,Rarity,Stat,Craftable,Item 1,Quantity 1,Item 2,Quantity 2,Item 3,Quantity 3
0,Adamantium Filaments,Common,Health,False,NaN,NaN,NaN,NaN,NaN,NaN
1,Adamantium Ore,Common,Armour,False,NaN,NaN,NaN,NaN,NaN,NaN
2,Armor Trim,Common,Armour,False,NaN,NaN,NaN,NaN,NaN,NaN
3,Auspex,Common,Damage,False,NaN,NaN,NaN,NaN,NaN,NaN
4,Ballistics Data,Common,Damage,False,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
322,Tome of Arcane Knowledge,Legendary,Health,True,NaN,NaN,NaN,NaN,NaN,NaN
323,Transdimensional Sanctum,Legendary,Armour,True,NaN,NaN,NaN,NaN,NaN,NaN
324,Virulent Rounds,Legendary,Damage,True,NaN,NaN,NaN,NaN,NaN,NaN
325,Warpweave Robe,Legendary,Armour,True,NaN,NaN,NaN,NaN,NaN,NaN
326,Witchseeker Bolts,Legendary,Damage,True,NaN,NaN,NaN,NaN,NaN,NaN

In [209]:
df_mat = df_mat.loc[df_mat.Rarity.isin(['Common', 'Uncommon'])]
df_mat

,Item,Rarity,Stat,Craftable,Item 1,Quantity 1,Item 2,Quantity 2,Item 3,Quantity 3
0,Adamantium Filaments,Common,Health,False,NaN,NaN,NaN,NaN,NaN,NaN
1,Adamantium Ore,Common,Armour,False,NaN,NaN,NaN,NaN,NaN,NaN
2,Armor Trim,Common,Armour,False,NaN,NaN,NaN,NaN,NaN,NaN
3,Auspex,Common,Damage,False,NaN,NaN,NaN,NaN,NaN,NaN
4,Ballistics Data,Common,Damage,False,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
81,The Gold Phoenix,Uncommon,Health,False,NaN,NaN,NaN,NaN,NaN,NaN
82,The Silver Eagle with Swords,Uncommon,Health,False,NaN,NaN,NaN,NaN,NaN,NaN
83,The Silver Scope,Uncommon,Health,False,NaN,NaN,NaN,NaN,NaN,NaN
84,Viridian Energy Bundle,Uncommon,Damage,True,Viridian Energy Pack,6.0,NaN,NaN,NaN,NaN
85,Writings,Uncommon,Health,False,NaN,NaN,NaN,NaN,NaN,NaN

# Add average cost column for non craftable items

In [210]:
item = 'Adamantium Ore'

In [211]:
df_raw.loc[df_raw.Item == item, 'Average energy cost'].min()

7.142857142857142

In [212]:
def get_average_cost_not_craftable(item: str) -> float:
    return df_raw.loc[df_raw.Item == item, 'Average energy cost'].min()

In [213]:
df_mat['Average energy cost'] = df_mat['Item'].apply(get_average_cost_not_craftable)

c:\Users\Arthur\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [214]:
df_mat

,Item,Rarity,Stat,Craftable,Item 1,Quantity 1,Item 2,Quantity 2,Item 3,Quantity 3,Average energy cost
0,Adamantium Filaments,Common,Health,False,NaN,NaN,NaN,NaN,NaN,NaN,7.142857
1,Adamantium Ore,Common,Armour,False,NaN,NaN,NaN,NaN,NaN,NaN,7.142857
2,Armor Trim,Common,Armour,False,NaN,NaN,NaN,NaN,NaN,NaN,7.142857
3,Auspex,Common,Damage,False,NaN,NaN,NaN,NaN,NaN,NaN,7.202881
4,Ballistics Data,Common,Damage,False,NaN,NaN,NaN,NaN,NaN,NaN,7.142857
...,...,...,...,...,...,...,...,...,...,...,...
81,The Gold Phoenix,Uncommon,Health,False,NaN,NaN,NaN,NaN,NaN,NaN,8.333333
82,The Silver Eagle with Swords,Uncommon,Health,False,NaN,NaN,NaN,NaN,NaN,NaN,8.403361
83,The Silver Scope,Uncommon,Health,False,NaN,NaN,NaN,NaN,NaN,NaN,8.403361
84,Viridian Energy Bundle,Uncommon,Damage,True,Viridian Energy Pack,6.0,NaN,NaN,NaN,NaN,NaN
85,Writings,Uncommon,Health,False,NaN,NaN,NaN,NaN,NaN,NaN,8.403361

# Add average cost for crafted item

In [260]:
# item = 'Adamantium Blades'
# item = 'Blessed Weapon Oils'
item = 'Viridian Energy Bundle'

In [216]:
def get_average_cost_subitem(item: str) -> float:
    return df_mat.loc[df_mat.Item == item, 'Average energy cost'].values[0]

In [261]:
n = 1
cost = 0
subitem_name = df_mat.loc[df_mat.Item == item, 'Item ' + str(n)].values[0]
subitem_qty = df_mat.loc[df_mat.Item == item, 'Quantity ' + str(n)].values[0]

    
while (n < 3) and (type(subitem_name) == str):
    cost += get_average_cost_subitem(subitem_name) * subitem_qty
    print(n, subitem_name, cost)
    
    n += 1
    subitem_name = df_mat.loc[df_mat.Item == item, 'Item ' + str(n)].values[0]
    subitem_qty = df_mat.loc[df_mat.Item == item, 'Quantity ' + str(n)].values[0]

1 Viridian Energy Pack 43.21728691476591

In [255]:
subitem_name

nan

In [262]:
def get_average_cost_craftable(item):
    n = 1
    cost = 0
    subitem_name = df_mat.loc[df_mat.Item == item, 'Item ' + str(n)].values[0]
    subitem_qty = df_mat.loc[df_mat.Item == item, 'Quantity ' + str(n)].values[0]


    while (n < 3) and (type(subitem_name) == str):
        cost += get_average_cost_subitem(subitem_name) * subitem_qty
        # print(n, subitem_name, cost)
        n += 1
        subitem_name = df_mat.loc[df_mat.Item == item, 'Item ' + str(n)].values[0]
        subitem_qty = df_mat.loc[df_mat.Item == item, 'Quantity ' + str(n)].values[0]

    return cost

In [263]:
get_average_cost_craftable(item)

1 Viridian Energy Pack 43.21728691476591

43.21728691476591

# Try to do an item

In [ ]:
item = 'Adamantium Blades'
# item = 'Adamantium Lump'

In [ ]:
row = df_mat.loc[df_mat.Item == item]
row

,Item,Rarity,Stat,Craftable,Item 1,Quantity 1,Item 2,Quantity 2,Item 3,Quantity 3,Average energy cost
40,Adamantium Blades,Uncommon,Damage,1.0,Weapon Parts,2.0,Adamantium Ore,2.0,Ropes and Chains,2.0,NaN

In [ ]:
from bigtree import Node, print_tree
from math import isnan

In [ ]:
df_mat['Craftable'].loc[df_mat.Item == row.iloc[0, 4 + 0*2]].iloc[0]

0.0

In [ ]:
row.iloc[0, 3] # Craftable
row.iloc[0, 4] # Item 1
row.iloc[0, 5] # Quantity 1

2.0

In [ ]:
root = Node(row.Item.iloc[0], 
            craftable=row['Craftable'].iloc[0],
            quantity=1)
for n in [0, 1, 2]:
    if not isnan(row.iloc[0, 5 + n*2]): # sub-item name
        child = Node(row.iloc[0, 4 + n*2],
                     craftable=df_mat['Craftable'].loc[df_mat.Item == row.iloc[0, 4 + n*2]].iloc[0],
                     quantity=row.iloc[0, 5 + n*2], 
                     parent=root)
        child.quantity = child.quantity * child.parent.quantity
        if child.craftable == False:
            child_data = df_raw.loc[df_raw['Item'] == child.name, ['Campaign', 'Variation', 'Level', 'Average energy cost']].sort_values(by=['Average energy cost'])
            # child.location = df_raw
            child.cost = child_data.iloc[0]['Average energy cost']
        
print_tree(root, attr_list=["craftable", "quantity", "cost"])

Adamantium Blades [craftable=1.0, quantity=1]
â”œâ”€â”€ Weapon Parts [craftable=0.0, quantity=2.0, cost=7.142857142857142]
â”œâ”€â”€ Adamantium Ore [craftable=0.0, quantity=2.0, cost=7.142857142857142]
â””â”€â”€ Ropes and Chains [craftable=0.0, quantity=2.0, cost=7.202881152460985]

In [ ]:
child_data = df_raw.loc[df_raw['Item'] == child.name, ['Campaign', 'Variation', 'Level', 'Average energy cost']].sort_values(by=['Average energy cost'])

In [ ]:
child_data.iloc[0]['Average energy cost']

7.202881152460985